{% extends 'base.html' %}
{% block head %}
{% endblock head %}


{% block body %}
<div class="row">
    <div class="col-md-6">
        <ul>
            <li>a</li>
            <li>b</li>
            <li>c</li>
            <li>d</li>
        </ul>
    </div>
</div>
<div class="row">

    <div class="col-md-6">
        <ul>
            <li>a</li>
            <li>b</li>
            <li>c</li>
            <li>d</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <ul>
            <li>a</li>
            <li>b</li>
            <li>c</li>
            <li>d</li>
        </ul>
    </div>
</div>
{% endblock body %}