{% extends 'formbase.html' %}
{% load static %}

{% block head %}
    <title>Login - SBU Graduate Proposals</title>
{% endblock head %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-md-9 col-lg-12 col-xl-10">
            <div class="card shadow-lg o-hidden border-0 my-5">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-flex">
                            {% comment %} <div class="flex-grow-1 bg-login-image" style="background-image: url(&quot;{% static 'assets/img/dogs/image3.jpeg' %}&quot;);"></div> {% endcomment %}
                        </div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h4 class="text-dark mb-4">Welcome</h4>
                                </div>
                                <form class="user" method="POST">
                                    {% csrf_token %}
                                    {{ form }}
                                    <button class="btn btn-primary btn-block text-white btn-user" type="submit">Login</button> 
                                    <hr>
                                    <hr>
                                </form>
                                <div class="text-center"><a class="small" href="forgot-password.html">Forgot Password?</a></div>
                                <div class="text-center"><a class="small" href="register.html">Create an Account!</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
